body {
    background-image: url("../img/wall1.jpg");
    background-repeat: repeat;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
 }

.container{
    margin-top: 10px;
}

h1{
    color: lightsteelblue;
}

h3{
    color:lightgray;
}